
.evc-composed{
	&--horizontal{
		display: block;
		font-size: 0;
		.evc-card{
			&__block, &__content{
				display:inline-block;
				width:50%;
			}
			&__content{
				text-align: right;
			}
		}
	}
}
.evc-card{
	margin-bottom: 10px;
	&__block{
		font-size:0;
	}
	&__side{
		display:inline-block;
		vertical-align: middle;
	}
	&__txt{
		font-size: 1rem;
		margin:0;
		&--date{
			font-weight: 600;
			color: #ffffff;
			height: 100%;
			display: block;
			padding-top: 5px;
		}
		&--bold{
			font-weight: 600;
		}
		&--bigger{
			font-size: 2rem;
		}
	}
	&__figure{
		width:50px;
		display: block;
		margin-right: 20px;
	}
	&__image{
		width:100%;
		display: block;
	}
}
