///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/



$color-map: (
	primary		:	#436554,
	secondary	:	#5f748a,
	tertiary	:	#a0ae2c,
	box-example :   #616468,
	body	    :   #F3F4F6,
	text-1      :   #666666, 
	title       :   #4366a6,
	link        :   #0077aa,
	sublink		:   #000000,
	grey-1  	:   #cecece,
	grey-2      :   #8b8c8d,
	grey-3      :   #5f748a,
	grey-4      :   #f1f1f1,
	white-1 	:   #ffffff,
	black-1     :   #000000,
	blue-1      :   #4485c9,
	blue-2      :   #2a4d8e,
	red-1       :   #b01818,
	yellow-1    :   #fbff02
);