.evc-welcome {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 1.250rem 0.875rem;
    background-size: 100%;
    min-height: 6.563rem;
    background-position: 50% 50%;
    &__background {
        img {
            width: 100%;
        }
    }
    &__content-title {
        display: table-cell;
        vertical-align: middle;
        width: 60%;
        padding-right: 1rem;
    }
    &__title {
        display: block;
    }
    &__info {
        display: table-cell;
        vertical-align: middle;
        font-size: 0;
        padding-left: 1rem;
        width: 40%;
        text-align: right;
    }
    &__localization {
        display: inline-block;
        vertical-align: middle;
    }
    &__date {
        display: block;
    }
    &__city {
        display: block;
    }
    &__meteo {
        display: inline-block;
        vertical-align: middle;
    }
    &__icon-weather {
        vertical-align: middle;
    }
    &__weather {
        display: inline-block;
        vertical-align: middle;
    }
}