/*------------------------------------
    # OBJECTS AVATAR
------------------------------------*/

$o-avatar-spacing-middle: ($wf__base-spacing / 3)+px;

.o-avatar{
    display: table;
    &__item{
        padding: $o-avatar-spacing-middle;
        vertical-align: top;
        display: table-cell;
    }
    // MODIFIER

    &--middle{
        .o-avatar__item{
            vertical-align: middle;
        }

    }
    &--base{
        .o-avatar__item {
            vertical-align: baseline;
        }
    }
}

/*------------------------------------
    # END OBJECTS AVATAR
------------------------------------*/
