@import '../../../assets/scss/01-tools/_tools__colors';
@import '../../../assets/scss/00-settings/_settings__colors';

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 20px 20px 10px;
    margin: 10px;
    color: color(grey-2);

    .container-header{
        display: inline-block;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: color(primary);
            font-weight: 600;   
        }
    }
    .content, .extended {
        margin: 10px 0 10px 0;
        padding: 10px 20px 20px 10px;
        word-wrap: break-word;
    }
    .content {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        min-width: 600px;
        .extended, .header {
            border-top: 1px solid color(primary);
        }
        .header {
            height: 60px;
            display: flex;
            align-items: center;
            & >* {
                font-weight: 600;
                color: color(grey-2);
            }
            
        }

        .post-img {
            max-width: 100%;
            margin: 10px 0 10px 0;
        }
    }

}