<div class="evc-card" *ngFor="let item of data">
  
    <div class="evc-card__block">
      <div class="evc-card__side">
        <figure class="evc-card__figure" *ngIf="item.image?.length > 0">
          <img src="{{item.image}}" alt="Card image" class="evc-card__image" />
        </figure>
        <div class="evc-card__date" *ngIf="item.date?.length > 0">
          <span class="evc-card__txt evc-card__txt--date">{{item.date}}</span>
        </div>
      </div>
      <div class="evc-card__side">
        <p class="evc-card__txt evc-card__txt--bold">{{item.title}}</p>
        <p class="evc-card__txt">{{item.description}}</p>
      </div>
    </div>
    <div class="evc-card__block evc-card__block--right">
      <div class="evc-card__container">
        <span class="evc-card__txt evc-card__txt--bold evc-card__txt--bigger">{{item.totalPeople}}</span>
        <span class="fa {{item.iconGroup}} evc-card__icon"></span>
      </div>
    </div>
</div>