<div class="cr-post-item">
  <div class="evc-post">
    <div class="evc-post__header">
      <div class="evc-post__block">
        <h1 class="evc-post__txt evc-post__txt--big evc-post__txt--bold">{{post.title}}</h1>
      </div>
    </div>
    <div class="evc-post__container">
      <div class="evc-post__block evc-post__block--to-left">
        <p class="evc-post__txt">{{post.publishedDate}}</p>
        <span class="evc-post__txt evc-post__txt--bold">{{post.content.brief}}</span>
      </div>
    </div>
  </div>
</div>
