<div class="evc-card-list">
  <div class="evc-card-list__header">
    <div class="evc-card-list__block">
      <h1 class="evc-card-list__txt evc-card-list__txt--big evc-card-list__txt--bold">{{post.title}}</h1>
    </div>
  </div>
  <div class="evc-card-list__container">
    <div class="evc-card-list__block evc-card-list__block--to-left">
      <p class="evc-card-list__txt">{{post.publishedDate}}</p>
      <span class="evc-card-list__txt evc-card-list__txt--bold">{{post.content.brief}}</span>
    </div>
  </div>
</div>
