.evc-post{
    width: 100%;
	&__header{
		display: block;
		font-size: 0;
	}
	&__block{
		width:50%;
		display: inline-block;
	}
	&__txt{
		font-size: 1rem;
		&--bold{
			font-weight: 600;
		}
		&--big{
			font-size: 1.3rem;
		}
		&--to-right{
			text-align: right;
			display: block;
		}
	}
	.title{
		display: inline-block;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}